.bg-pink
{
  background: #ffb7b6;
}

.bg-red
{
  background: #eb9785;
}

.border-black
{
  border: 1px solid #000;
}

.border-white
{
  border: 1px solid #fff;
}

[class*="col-"]
{
  text-align: center;
  /* padding: 75px 0; */
}

/* PROVA PADDING A SPAN */

.testo
{
  padding: 75px 0;
}

.testo-ultima-riga
{
  padding: 70px 0;
}

.pad-ultima-riga
{
  padding: 3px;
}

/* -------------------- */

/* PROVA PADDING A COLONNE */

.pad
{
  padding: 75px 0;
}

.pad-2
{
  padding: 70px 0;
}

.pad-3
{
  padding: 4px;
}

/* -------------------- */
